@using Microsoft.AspNet.Identity
@using ShopyEcomerce
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div>
        <ul class="nav navbar-nav navbar-right ">
            <li>
                @Html.ActionLink("Hello  " +" "+ User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",@class="text-black-50 mr-2 nav-link" })
            </li>
            <li>
                <span onclick="GoToCart()">
                    <i class="fa fa-shopping-cart " style="font-size:36px"></i>
                </span>
                <span class=" carts-display"> </span>
            </li>
            <li ><a href="javascript:document.getElementById('logoutForm').submit()" class="text-black-50 nav-link">Sign out</a></li>
        </ul>
    </div>
    }
}
else
{<div>
     <ul class="nav navbar-nav navbar-right ">

         <span onclick="GoToCart()">
             <i class="fa fa-shopping-cart " style="font-size:36px"></i>
         </span>
         <span class="carts-display"></span>
        

         <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-black-50 ml-5 nav-link" })</li>
         <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-black-50 ml-2 nav-link " })</li>
     </ul>
 </div>
}
<script>
    GoToCart = () => {
        var carts = localStorage.getItem("carts");
        $.ajax({
             url: "/Users/CartsArray",
             type: "post",
             contentType: "application/json; charset=utf-8",
             data: carts,
             success: (data) => {
                 window.location.href = '/Users/Carts';
             }
         });
        console.log("hello");
        
//         
       
     }
</script>
