@using ShopyEcomerce


<div class="position-relative"><i class="fa fa-shopping-cart" style="font-size:36px;color:red" ></i>
     <p class="position-absolute fixed-top ml-4 text-warning">@BusinessLogic.cartImemory.Count</p>
    </div>